@using  BookLib.Models;
@using  BookLib.Entity;
@model BookingViewModel;
@{
    ViewData["Title"] = "Book";
    var imgSrc = string.IsNullOrEmpty(Model.Book.PhotoBase64) ? string.Empty : Model.Book.PhotoBase64;

    var btnText = string.Empty;
    var btnClass = string.Empty;
    var availableDate = string.Empty;
    var queueNum = string.Empty;

    var isNext = Model.QueueNum == 1;

    switch (Model.CurrentStatus)
    {
        case BookingStatus.Returned:
            btnText = "Взять";
            btnClass = "primary";
            break;
        case BookingStatus.Waiting:
        case BookingStatus.Expired:
        case BookingStatus.Booked:
            btnText = "Встать в очередь";
            btnClass = "warning";
            availableDate = Model.AvailableDate != null ? Model.AvailableDate.Value.ToShortDateString() : string.Empty;
            queueNum = Model.QueueNum.ToString();
            break;
        default:
            break;
    }
}
<style>
    .btn:hover {
        cursor: pointer;
    }
</style>
@Html.HiddenFor(x => x.Book.Id)
@Html.HiddenFor(x => x.CurrentUserId)
<div class="container">
    <div class="row">
        <div class="col-9">
            <div class="row">
                <div class="col-8">
                    <h3>@Model.Book.Name</h3>
                </div>
                @if (Model.BookedUserId != null && Model.BookedUserId.Value == Model.CurrentUserId
            && (Model.CurrentStatus == BookingStatus.Expired
            || Model.CurrentStatus == BookingStatus.Booked))
                {
                    <div class="col-4">

                        @if (Model.CurrentStatus == BookingStatus.Expired)
                        {
                            <div class="btn btn-danger w-100">
                                Сдать книгу
                            </div>
                            <div class="border rounded w-100 small">
                                <span style="color:red">Дата возврата просрочена: @Model.Deadline.Value.ToShortDateString()</span>
                            </div>
                        }
                        @if (Model.CurrentStatus == BookingStatus.Booked)
                        {
                            <div class="btn btn-primary w-100">
                                Сдать книгу
                            </div>
                            <div class="border rounded w-100 small">
                                <span style="color:green">Дата возврата : @Model.Deadline.Value.ToShortDateString()</span>
                            </div>
                        }

                    </div>
                }
                else if (Model.IsUserWait)
                { 
                    <div class="col-4">
                        <div class="btn btn-primary w-100"  onclick="leaveQueue()">
                            Покинуть очередь
                        </div>
                        @if (!string.IsNullOrEmpty(queueNum))
                        {
                            <div class="border rounded w-100 small">
                                <div>Место в очереди :  @($"{(isNext ? "Cледующий" : queueNum.ToString())}")</div>
                                <div>Дата : @availableDate</div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="col-4">
                        <div class="btn btn-@btnClass w-100" onclick="toBook()">
                            @btnText
                        </div>
                        @if (!string.IsNullOrEmpty(queueNum))
                        {
                            <div class="border rounded w-100 small">
                                <div>Место в очереди :  @($"{(isNext ? "Cледующий" : queueNum.ToString())}")</div>
                                <div>Дата : @availableDate</div>
                            </div>
                        }
                    </div>
                }
            </div>
            <div class="row">
                <div class="border border-primary">
                    @Model.Book.Description
                </div>
            </div>
        </div>
        <div class="col-3">
            <img src="@imgSrc" style="height:200px" />
        </div>
    </div>
</div>
<script>
    let redirect = (url) => (window.location.href = url);
    let toBook = () => {
        let bookId = $('#Book_Id').val();
        let currentUserId = $('#CurrentUserId').val();
        redirect(`/booking/MakeBooking?bookId=${bookId}&userId=${currentUserId}`);
    };
      let leaveQueue = () => {
        let bookId = $('#Book_Id').val();
        let currentUserId = $('#CurrentUserId').val();
        redirect(`/booking/leaveQueue?bookId=${bookId}&userId=${currentUserId}`);
    };
</script>